@import '../../variables.scss';

.col-header-item {
  @include header-item-base-style;
  border-right-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  height: $col-header-item-height;

  &.selected {
    background-color: $row-col-header-item-selected-color;
  }
}

.col-header-trigger {
  position: absolute;
  right: -6px;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
  opacity: 0;
  z-index: 1;
}
