@import './variables.scss';

.sheet-container,
.sheet-container * {
  box-sizing: border-box;
}

.sheet-container {
  position: relative;
  box-sizing: border-box;
  padding-top: $col-header-item-height - 1px;
  padding-left: $row-header-item-width - 1px;
  font-size: $base-font-size;
  user-select: none;
}

.sheet-header {
  position: absolute;
  left: 0;
  top: 0;
  width: $row-header-item-width;
  height: $col-header-item-height;
  background: #fff;
  border: 1px solid $row-col-header-item-active-border-color;
  cursor: pointer;
}

.sheet-table {
  border-collapse: collapse;
  table-layout: fixed;
}
