$base-font-size: 16px;
$row-header-item-width: 36px;
$col-header-item-height: 36px;
$row-col-header-item-active-bg-color: #f5f5f5;
$row-col-header-item-active-border-color: #e8e8e8;
$row-col-header-item-selected-color: #4daaff;

@mixin box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin header-item-base-style {
  cursor: pointer;
  text-align: center;
  position: relative;
  border: 1px solid $row-col-header-item-active-border-color;
  @include box-center();

  &.active {
    background-color: $row-col-header-item-active-bg-color;
  }
}
